<!DOCTYPE html>
<html>
<head>
	<title>This is just a test</title>
</head>
<body>
	<div style="border:solid gray;width: 500px; height: 1000px;">

		<div style="float:left; width:500px">
		    <table style="border: 1px solid gray; border-collapse:collapse; width: 100%;">
		        <tr>
		            <th colspan="6" style="text-align:center; font-size: 14px;">Livingstone Christian Academy</th>

		        </tr>   
		        <tr>
		            <td colspan="6" style="text-align:center; font-style: italic;">Upper Bagacay, Tayud, Consolacion, Cebu City</td>
		        </tr>
		        <tr>
		            <th colspan="6" style="text-align:center; font-size: 14px;">Statement of Account</th>
		        </tr>
		        <tr>
		            <!-- <td></td> -->
		            <th style="text-align:right;padding: 15px;">Name:</th>
		            <td colspan="2" >Student Name here</td>
		        </tr>
		        <tr>
		            <!-- <td></td> -->
		            <th style="padding: 15px;">Grade / Level: </th>
		            <td colspan="2">Grade_level here</td>
		        </tr>
		    </table>
	    </div>
	    <div style="float:right; width:500px">
	    	<table style="border: 1px solid gray; border-collapse:collapse; width: 100%;">
		        <tr>
		            <th colspan="6" style="text-align:center; font-size: 14px;">Livingstone Christian Academy</th>

		        </tr>   
		        <tr>
		            <td colspan="6" style="text-align:center; font-style: italic;">Upper Bagacay, Tayud, Consolacion, Cebu City</td>
		        </tr>
		        <tr>
		            <th colspan="6" style="text-align:center; font-size: 14px;">Statement of Account</th>
		        </tr>
		        <tr>
		            <!-- <td></td> -->
		            <th style="text-align:right;padding: 15px;">Name:</th>
		            <td colspan="2" >Student Name here</td>
		        </tr>
		        <tr>
		            <!-- <td></td> -->
		            <th style="padding: 15px;">Grade / Level: </th>
		            <td colspan="2">Grade_level here</td>
		        </tr>
		    </table>
	    </div>
	    <div style='clear:both'></div>
	</div>
</body>
</html>


<table style="border-collapse:collapse; width: 100%;">
	        <tr>
	            <th colspan="6" style="text-align:center; font-size: 14px;">Livingstone Christian Academy</th>
	            <th colspan="4"></th>
	        </tr>   
	        <tr>
	            <td colspan="6" style="text-align:center; font-style: italic;">Upper Bagacay, Tayud, Consolacion, Cebu City</td>
	        </tr>
	        <tr>
	            <th colspan="6" style="text-align:center; font-size: 14px;">Statement of Account</th>
	        </tr>
	        <tr>
	            <!-- <td></td> -->
	            <th style="text-align:right;padding: 15px;">Name:</th>
	            <td colspan="2" >Student Name here</td>
	        </tr>
	        <tr>
	            <!-- <td></td> -->
	            <th style="padding: 15px;">Grade / Level: </th>
	            <td colspan="2">Grade_level here</td>
	        </tr>
	    </table>